.page-header{
  height:1050px;
  width: 100%;
  background-color: rgb(111, 122, 138);

}

/*nav a:first-child{
  font-size: 20px;
}*/

nav{
  background-color: rgb(111, 122, 138);
  height:80px;
  box-shadow: 0px 5px  30px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 5px  30px  rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 5px 30px  rgba(0,0,0,0.2);
  -o-box-shadow: 0px 5px 30px  rgba(0,0,0,0.2);
}

.circle{
  width:50px;
  height:50px;
  background-color: rgb(111, 122, 138);
  box-shadow: 4px 0px  rgb(209, 10, 10);
  -moz-box-shadow: 4px 0px  rgb(209, 10, 10);
  -webkit-box-shadow: 4px 0px  rgb(209, 10, 10);
  -o-box-shadow: 4px 0px  rgb(209, 10, 10);
  border-radius:100px;

}
h1, h3 {
  color:rgb(193, 0, 19);
  letter-spacing: .3rem;

}
h1{
  padding-top: 3rem;
  line-height: 3.5rem;
}

.fewer-title >h3{
  margin-bottom: 3rem;
  font-size: 1.5rem;

}

span{
  display: block;
  line-height: 3.5rem;
}

/*deuxieme div en dessous div= midle*/

.midle > .circle{

  width:5rem;
  height:5rem;
  background-color: rgb(51, 59, 80);
  box-shadow: 4px 0px  rgb(209, 10, 10);
  -moz-box-shadow: 4px 0px  rgb(209, 10, 10);
  -webkit-box-shadow: 4px 0px  rgb(209, 10, 10);
  -o-box-shadow: 4px 0px  rgb(209, 10, 10);
  border-radius:100px;
  margin: 0 auto;
}

.midle p:first-child{
  font-size: 3rem;
  color: rgb(209, 10, 10);
  line-height: 5rem;
}
.midle p:nth-child(2){
  line-height: 2rem;
  font-size: .9rem;
}
.midle{
  background-color: rgb(51, 59, 80);
}

/*troisieme div en dessous div=bar*/

.bar{
  background-image: url("../image/objet.jpg");
  height:500px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(111, 122, 138);
  background-blend-mode: multiply;
}
.first-bar{
  padding-top: 4rem;
}

.bar > p{
  margin-left: 1rem;
  color: white;
}
.progress-bar{
  background-color: rgb(209, 10, 10);
  margin:0 3rem 0 1rem;
  font-size: 1rem;
}

.professional, .knowledge{
  letter-spacing: .3rem;
}

.area {
  color:rgb(154, 162, 178);
}

/*div portfolio en bas*/
.portfolio{
  background-color: rgb(77, 83, 102);
}

.first-portfolio{
  letter-spacing: .2rem;
  padding-top: 3rem;
}

.picture{
  padding-top: 2rem;
  padding-bottom: 3rem;
}


/*div experience en bas*/
.experience{
  background-image: url("../image/lionnoir.jpg");
  background-color: rgb(111, 122, 138);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

}

.first-experience{
  letter-spacing: .2rem;
  padding-top: 4.5rem;
  padding-bottom: 2.5rem;
}

.first-wrapper p:last-child, .second-wrapper p:last-child, .third-wrapper p:last-child, .four-wrapper p:last-child {
  color: rgb(154, 162, 178);
}

.wrapper{
  padding-bottom: 2.5rem;

}

.two, .three, .four {
  padding-top: 4rem;
}

h5{
  color: rgb(255, 255, 255);
}

.date{
  color: rgb(193, 0, 19);
}

/*div empty en bas*/

.empty{
  background-color: rgb(116, 122, 136);
  height: 700px;

}

.contact{
  background-color: rgb(51, 59, 80);
  color: white;
  font-size: .8rem;
  letter-spacing: .2rem;
  padding: 3rem ;
  margin: 4rem;
  position: absolute;

}

/*div icon */
.icon{
  background-image: url("../image/savane.jpg");
  /*background-blend-mode: multiply;*/
  height:230px;
  width: 100%;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  /*background-color: rgb(111, 122, 138);*/
}

footer{
  width: 100%;
  height: 130px;
  background-color: rgb(111, 122, 138);
  display: flex;
  align-items: flex-end;
}


@media only screen and (min-width:321px) {
  .page-header{
    background-image: url("../image/atsam.png");
    height:1000px;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(111, 122, 138);
    background-blend-mode: multiply;
  }


  h1, h3 {
    color:rgb(193, 0, 19);
    letter-spacing: .3rem;
    padding-left: 23.33%;
  }

  h1{
    padding-top: 8rem;
    line-height: 7.5rem;
    font-size: 5rem;
  }

  .fewer-title >h3{
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }

  span{
    display: block;
    line-height: 3.5rem;
  }

  /*deuxième div en bas midle*/

  .midle{
    background-color: rgb(51, 59, 80);
    padding-top: 4rem ;
    height: 42rem;
    margin-top: 4.5rem;
    width: 45rem;
    position: absolute;
    right: 16rem;
    top:45rem;
  }
  .midle p:first-child{
    font-size: 4rem;
    color: rgb(209, 10, 10);
    line-height: 5rem;
  }
  .midle p:nth-child(2){
    padding: 3rem 5rem 3rem;
    text-align: center;
    line-height: 2rem;
    font-size: .9rem;
  }

  /*troisieme div en dessous div=bar*/

  .bar{
    background-image: url("../image/objet.jpg");
    height:1100px;
    padding-top: 30rem;

  }
  .first-bar{
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .container{
    font-size: 1.2rem;
  }
  span{
    display: inline;
  }

  .progress-bar{
    background-color: rgb(209, 10, 10);
    padding-bottom: .3rem;
    font-size: 1rem;
  }

  .professional{
    font-size: 2rem;
  }

  .area {
    color:rgb(154, 162, 178);
  }

  /*div portfolio en bas*/
  .portfolio{
    background-color: rgb(77, 83, 102);
  }

  .first-portfolio{
    letter-spacing: .2rem;
    padding-top:11rem;
    font-size: 2rem;
  }

  .picture{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 3rem;
    width: 326px;
    height: 320px;
  }

  /*div empty en bas*/

  .empty{
    background-color: rgb(116, 122, 136);
    height: 700px;
    position: relative;
  }

  .contact{
    display: flex;
    width: 60rem;
    height: 100vh;
    position: absolute;
    left: 8rem;
    bottom: -25rem;


  }
  .case1{
    width:50%;
    padding-left: 7rem;
    padding-right: 2.5rem;
    text-align: left;
    font-size: .8rem;
    line-height: 1.5rem;
  }
  .case2{
width: 50%;
padding-right: 7rem;
  }
.cell{
  display: block;
}
/*div icon */
.icon{
  background-image: url("../image/savane.jpg");
  height:88vh;
  width: 100%;
}

footer{
  width: 100%;
  height: 130px;
  background-color: rgb(111, 122, 138);
  display: flex;
  align-items: flex-end;
}
}
